<!DOCTYPE html>
<html>
<head>
    <title>Check-Out</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <h1>Check-Out Page</h1>
    <form id="bookCheckOut" action="/checkout" method="get">
        <input type="text" name="book_name" placeholder="Enter book name...">
        <input type="text" name="card_number" placeholder="Enter card number...">
        <input type="text" name="check_out_date" placeholder="Enter check out date...">
        <input type="text" name="check_in_date" placeholder="Enter check in date..">
        <input type="submit" value="Check Out">
    </form>
</body>
</html>