<!DOCTYPE html>
<html>
<head>
    <title>Simple Search Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Library System</h1>
    <form id="searchForm" action="/search" method="get"> 
        <input type="text" name="query" placeholder="Search For Books...">
        <input type="submit" value="Search">
    </form>
    <a href="/checkout"><button>Check-Out</button></a>
    <a href="/checkin"><button>Check-In</button></a>
    <a href="/admin"><button>Admin</button></a>
    <a href="/viewfines"><button>View Fines</button></a>
    <script>
        document.getElementById('searchForm').addEventListener('submit', function(event) {
            // event.preventDefault();
            var searchText = this.querySelector('[name="query"]').value;
            console.log('Search Query:', searchText);
        });
    </script>
</body>
</html>